.Rproj.user
.Rhistory
.RData
.Ruserdata
.quarto

/.quarto/
/uploader_cache/
/old/
/_old/
/_dev/
docs/
/.secrets/
/status_cache/
/_extensions/
mermaid_code.txt
data/items_meta.json
data/uploader_status_2024-2025.json
figures/timeseries_images/test/
figures/test/
