/*-- scss:rules --*/

.btn-quarto{
  background-color: #c5c5ca;
  color: black;
  
  }
  
.btn-quarto:hover{
  background-color: #ffffff;
  color: red;
  
  }

	.bold{
		font-weight:bold;
		}
	.yes{
	  color:green;
	  font-weight:bold;
	}
	.no{
	  color:red;
	  font-weight:bold;
	}
  .blm {
		width:650px;
		height:200px;
		cursor:pointer;
		font-size:12px;
		line-height:16px;
    background-color: #e5e5ea;
		}
.sml {
  		font-size:.9rem;
}
.scrolling {
  max-height: 70vh;
  overflow-y: auto;
}
.panel-input {
  max-height: 150px;
  border-width: 2px;
}
 .nav-tabs{
 --bs-nav-link-color: #276189;
 --bs-nav-link-font-weight: normal;
 --bs-nav-tabs-link-active-color: #ffffff;
 --bs-nav-tabs-link-active-bg: #276189;
 --bs-nav-tabs-link-hover-border-color: #276189;
   
 }
 

.observablehq--error {
  display: none;
}
