/*-- scss:rules --*/

.btn-quarto{
  background-color: #c5c5ca;
  
  }
  
.btn-quarto:hover{
  background-color: #ffffff;
  
  }

	.bold{
		font-weight:bold;
		}
  .blm {
		width:650px;
		height:200px;
		cursor:pointer;
		font-size:12px;
		line-height:16px;
		}
.sml {
  		font-size:.9rem;
}
