# Github Actions to read CCIEA Google Drive and update Uploader Status table
# Need to grant read/write permissions for Action to do the commits
# Settings -> Actions -> General -> Workflow permissions
    name: Access Google Drive
# Use the following to update on push
#    on:
#      push:
#        branches: master
    on:
      workflow_dispatch:
      schedule:
      # update every day at 1 pm UTC = 6 am PDT
        - cron: '0 13 * * *'

    jobs:
      drive-access:
        runs-on: ubuntu-latest
        steps:
          - name: Check out repository
            uses: actions/checkout@v4

          - name: Authenticate to Google Cloud
            uses: google-github-actions/auth@v2
            with:
              credentials_json: ${{ secrets.GOOGLE_APPLICATION_CREDENTIALS }}
              
          - name: Install system dependencies
            run: |
              sudo apt-get update
              sudo apt-get install -y libcairo2-dev pkg-config
              
          - name: Set up R
            uses: r-lib/actions/setup-r@v2
              
          - name: Install packages
            uses: r-lib/actions/setup-r-dependencies@v2
            with:
              cache: always
              packages: |
                any::tidyverse
                any::officer
                
          - name: Install flextable
            run: |
              install.packages("flextable")
            shell: Rscript {0} # Execute the R command using Rscript

          - name: Import data
            run: Rscript get_status.R

          - name: Set up Quarto
            uses: quarto-dev/quarto-actions/setup@v2
            env:
              GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}

          - name: Install Quarto and render project
            run: quarto render
            env:
              GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}

          - name: Commit results
            run: |
              git config --local user.email "actions@github.com"
              git config --local user.name "GitHub Actions"
              git add data/*.json
              git add data/CCIEA_metadata.csv
              git commit -m 'Data updated' || echo "No changes to commit"
              git push origin || echo "No changes to commit"
              
          - name: Deploy to GitHub Pages
            uses: peaceiris/actions-gh-pages@v3
            with:
              github_token: ${{ secrets.GITHUB_TOKEN }}
              publish_dir: ./docs
